// // Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// // Variables
// @import "variables";

// // Bootstrap
// @import "~bootstrap/scss/bootstrap";
a {
    text-decoration: none !important;
}
#app {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: lightblue !important;
    padding: 10px;
    overflow-x: hidden;
}

.modalEffect {
    position: absolute;
    animation: modal 0.5s linear;
    left: 25%;
    @media screen and (max-width: 600px){
        left: 0;
    }
    @media screen and (min-width: 601px) and (max-width: 840px){
        left: 10%;
    }
    @media screen and (min-width: 841px) and (max-width: 1024px){
        left: 15%;
    }
    @media screen and (min-width: 1025px) and (max-width: 1440px){
        left: 20%;
    }
    
}
.modal-backdrop {
    display: none !important;
}
.userSelect {
    cursor: pointer;
}

//LOADER
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: lightblue;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

//KEYFRAMES
@keyframes modal {
    from {
        transform: translate3d(-50%, -50%, 0);
        opacity: 0.1;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
